body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.image {
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}